<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>알라르방의 끄적끄적</title>
	<link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
	<div class="login-container">
        <h1 class="login-title">알라르방의 끄적끄적</h1>
        <form class="login-form" th:action="@{/auth/loginProc}" method="post">
            <input type="text" name="username" class="login-input" placeholder="Username">
            <input type="password" name="password" class="login-input" placeholder="Password">
            <button type="submit" class="login-button">로그인</button>
        </form>
    </div>
</body>
</html>